name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '15 0 * * *'

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [18, 20, 22, 24]
    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
      NODE: ${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '*'

      - run: npm ci
        if: ${{ github.event_name != 'schedule' }}

      - shell: bash
        run: |
          npm install -g $(jq -r '.packageManager' < package.json)
          rm package-lock.json
          npm i
        if: ${{ github.event_name == 'schedule' }}

      - run: npm run build

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - run: |
          node ./dist/main.js ./node_modules/typescript/lib/tsc.js

  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '*'
      - run: npm ci
      - run: npx eslint .

  dprint:
    name: dprint
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '*'
      - run: npm ci
      - run: npx dprint check
