name: Publish Any Commit
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.head_ref, 'renovate/') && !startsWith(github.head_ref, 'changeset-release/') }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '*'

      - run: npm ci

      - run: npm run build

      - run: npx pkg-pr-new publish
