name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  pull-requests: write
  contents: write
  id-token: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest

    environment: npm

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          filter: blob:none

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '*'

      - run: npm install -g npm@latest

      - name: npm ci
        run: npm ci

      - name: npm run build
        run: npm run build

      - name: Capture new release version
        id: version
        run: |
          npx changeset version
          echo "version=$(jq -r '.version' package.json)" >> $GITHUB_OUTPUT
          git restore .

      - uses: changesets/action@v1
        with:
          title: 'Release v${{ steps.version.outputs.version }}'
          commit: 'Release v${{ steps.version.outputs.version }}'
          publish: npx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
